<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Practice Your Skills!</title>
    <meta name="description" content="Need some Front-End inspiration?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/ico" href="favicon.ico"/>
    <link rel="icon" type="image/ico" href="32_favicon.png"/>
    <link rel="icon" type="image/ico" href="64_favicon.png"/>
    <link rel="stylesheet" href="assets/css/main.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <section class="pageContent block-container-single">
            <header class="main-header group">
                <p>Solve This Random Github Issue!</p>
                <a class="home-link" href="https://github.com/tevko/practice">Github</a>
                <a class="home-link" href="index.html">Home</a>
            </header>
        <article class="block-github">
            <div class="block-content">
                <div class="suggestionApp">
                    <div class="content-holder">
                        <p class="suggestionApp-content">
                            <script class="template" type="solvegit/js">
                                <h1><%= items[randRepo].title %></h1>
                                <p class="markdown"><%= items[randRepo].body %></p>
                                <div><%= items[randRepo].created_at %></div>
                            </script>
                        </p>
                    </div>
                    <div class="suggestionApp-prompts">
                        <div class="suggestionApp-languages">
                            <select name="l" id="language-select" tabindex="3">
                                <option value="">Any Language</option>
                                <optgroup label="Popular">
                                    <option value="ActionScript">ActionScript</option>
                                    <option value="C">C</option>
                                    <option value="C#">C#</option>
                                    <option value="C++">C++</option>
                                    <option value="Clojure">Clojure</option>
                                    <option value="CoffeeScript">CoffeeScript</option>
                                    <option value="Common Lisp">Common Lisp</option>
                                    <option value="CSS">CSS</option>
                                    <option value="Diff">Diff</option>
                                    <option value="Emacs Lisp">Emacs Lisp</option>
                                    <option value="Erlang">Erlang</option>
                                    <option value="Haskell">Haskell</option>
                                    <option value="HTML">HTML</option>
                                    <option value="Java">Java</option>
                                    <option value="JavaScript">JavaScript</option>
                                    <option value="Lua">Lua</option>
                                    <option value="Objective-C">Objective-C</option>
                                    <option value="Perl">Perl</option>
                                    <option value="PHP">PHP</option>
                                    <option value="Python">Python</option>
                                    <option value="Ruby">Ruby</option>
                                    <option value="Scala">Scala</option>
                                    <option value="Scheme">Scheme</option>
                                    <option value="SQL">SQL</option>
                                </optgroup>
                                <optgroup label="Everything else">
                                    <option value="ABAP">ABAP</option>
                                    <option value="Ada">Ada</option>
                                    <option value="Agda">Agda</option>
                                    <option value="Alloy">Alloy</option>
                                    <option value="ANTLR">ANTLR</option>
                                    <option value="ApacheConf">ApacheConf</option>
                                    <option value="Apex">Apex</option>
                                    <option value="AppleScript">AppleScript</option>
                                    <option value="Arc">Arc</option>
                                    <option value="Arduino">Arduino</option>
                                    <option value="AsciiDoc">AsciiDoc</option>
                                    <option value="ASP">ASP</option>
                                    <option value="AspectJ">AspectJ</option>
                                    <option value="Assembly">Assembly</option>
                                    <option value="ATS">ATS</option>
                                    <option value="Augeas">Augeas</option>
                                    <option value="AutoHotkey">AutoHotkey</option>
                                    <option value="AutoIt">AutoIt</option>
                                    <option value="Awk">Awk</option>
                                    <option value="Batchfile">Batchfile</option>
                                    <option value="Befunge">Befunge</option>
                                    <option value="BlitzBasic">BlitzBasic</option>
                                    <option value="BlitzMax">BlitzMax</option>
                                    <option value="Bluespec">Bluespec</option>
                                    <option value="Boo">Boo</option>
                                    <option value="Brainfuck">Brainfuck</option>
                                    <option value="Brightscript">Brightscript</option>
                                    <option value="Bro">Bro</option>
                                    <option value="C-ObjDump">C-ObjDump</option>
                                    <option value="C2hs Haskell">C2hs Haskell</option>
                                    <option value="Ceylon">Ceylon</option>
                                    <option value="ChucK">ChucK</option>
                                    <option value="Cirru">Cirru</option>
                                    <option value="Clean">Clean</option>
                                    <option value="CLIPS">CLIPS</option>
                                    <option value="CMake">CMake</option>
                                    <option value="COBOL">COBOL</option>
                                    <option value="ColdFusion">ColdFusion</option>
                                    <option value="Component Pascal">Component Pascal</option>
                                    <option value="Coq">Coq</option>
                                    <option value="Cpp-ObjDump">Cpp-ObjDump</option>
                                    <option value="Creole">Creole</option>
                                    <option value="Crystal">Crystal</option>
                                    <option value="Cucumber">Cucumber</option>
                                    <option value="Cuda">Cuda</option>
                                    <option value="Cython">Cython</option>
                                    <option value="D">D</option>
                                    <option value="D-ObjDump">D-ObjDump</option>
                                    <option value="Darcs Patch">Darcs Patch</option>
                                    <option value="Dart">Dart</option>
                                    <option value="DM">DM</option>
                                    <option value="Dogescript">Dogescript</option>
                                    <option value="DOT">DOT</option>
                                    <option value="Dylan">Dylan</option>
                                    <option value="E">E</option>
                                    <option value="Eagle">Eagle</option>
                                    <option value="eC">eC</option>
                                    <option value="Ecere Projects">Ecere Projects</option>
                                    <option value="ECL">ECL</option>
                                    <option value="edn">edn</option>
                                    <option value="Eiffel">Eiffel</option>
                                    <option value="Elixir">Elixir</option>
                                    <option value="Elm">Elm</option>
                                    <option value="F#">F#</option>
                                    <option value="Factor">Factor</option>
                                    <option value="Fancy">Fancy</option>
                                    <option value="Fantom">Fantom</option>
                                    <option value="fish">fish</option>
                                    <option value="FLUX">FLUX</option>
                                    <option value="Forth">Forth</option>
                                    <option value="FORTRAN">FORTRAN</option>
                                    <option value="Frege">Frege</option>
                                    <option value="Game Maker Language">Game Maker Language</option>
                                    <option value="GAMS">GAMS</option>
                                    <option value="GAP">GAP</option>
                                    <option value="GAS">GAS</option>
                                    <option value="Genshi">Genshi</option>
                                    <option value="Gentoo Ebuild">Gentoo Ebuild</option>
                                    <option value="Gentoo Eclass">Gentoo Eclass</option>
                                    <option value="Gettext Catalog">Gettext Catalog</option>
                                    <option value="GLSL">GLSL</option>
                                    <option value="Glyph">Glyph</option>
                                    <option value="Gnuplot">Gnuplot</option>
                                    <option value="Go">Go</option>
                                    <option value="Gosu">Gosu</option>
                                    <option value="Grace">Grace</option>
                                    <option value="Grammatical Framework">Grammatical Framework</option>
                                    <option value="Groff">Groff</option>
                                    <option value="Groovy">Groovy</option>
                                    <option value="Groovy Server Pages">Groovy Server Pages</option>
                                    <option value="Haml">Haml</option>
                                    <option value="Handlebars">Handlebars</option>
                                    <option value="Harbour">Harbour</option>
                                    <option value="Haxe">Haxe</option>
                                    <option value="HTML+Django">HTML+Django</option>
                                    <option value="HTML+ERB">HTML+ERB</option>
                                    <option value="HTML+PHP">HTML+PHP</option>
                                    <option value="HTTP">HTTP</option>
                                    <option value="Hy">Hy</option>
                                    <option value="IDL">IDL</option>
                                    <option value="Idris">Idris</option>
                                    <option value="Inform 7">Inform 7</option>
                                    <option value="INI">INI</option>
                                    <option value="Inno Setup">Inno Setup</option>
                                    <option value="Io">Io</option>
                                    <option value="Ioke">Ioke</option>
                                    <option value="IRC log">IRC log</option>
                                    <option value="Isabelle">Isabelle</option>
                                    <option value="J">J</option>
                                    <option value="Jade">Jade</option>
                                    <option value="Java Server Pages">Java Server Pages</option>
                                    <option value="JSON">JSON</option>
                                    <option value="JSON5">JSON5</option>
                                    <option value="JSONiq">JSONiq</option>
                                    <option value="JSONLD">JSONLD</option>
                                    <option value="Julia">Julia</option>
                                    <option value="Kit">Kit</option>
                                    <option value="Kotlin">Kotlin</option>
                                    <option value="KRL">KRL</option>
                                    <option value="Lasso">Lasso</option>
                                    <option value="Latte">Latte</option>
                                    <option value="Less">Less</option>
                                    <option value="LFE">LFE</option>
                                    <option value="LilyPond">LilyPond</option>
                                    <option value="Liquid">Liquid</option>
                                    <option value="Literate Agda">Literate Agda</option>
                                    <option value="Literate CoffeeScript">Literate CoffeeScript</option>
                                    <option value="Literate Haskell">Literate Haskell</option>
                                    <option value="LiveScript">LiveScript</option>
                                    <option value="LLVM">LLVM</option>
                                    <option value="Logos">Logos</option>
                                    <option value="Logtalk">Logtalk</option>
                                    <option value="M">M</option>
                                    <option value="Makefile">Makefile</option>
                                    <option value="Mako">Mako</option>
                                    <option value="Markdown">Markdown</option>
                                    <option value="Mask">Mask</option>
                                    <option value="Mathematica">Mathematica</option>
                                    <option value="Matlab">Matlab</option>
                                    <option value="Max">Max</option>
                                    <option value="MediaWiki">MediaWiki</option>
                                    <option value="Mercury">Mercury</option>
                                    <option value="MiniD">MiniD</option>
                                    <option value="Mirah">Mirah</option>
                                    <option value="Monkey">Monkey</option>
                                    <option value="Moocode">Moocode</option>
                                    <option value="MoonScript">MoonScript</option>
                                    <option value="MTML">MTML</option>
                                    <option value="mupad">mupad</option>
                                    <option value="Myghty">Myghty</option>
                                    <option value="Nemerle">Nemerle</option>
                                    <option value="nesC">nesC</option>
                                    <option value="NetLogo">NetLogo</option>
                                    <option value="Nginx">Nginx</option>
                                    <option value="Nimrod">Nimrod</option>
                                    <option value="Nit">Nit</option>
                                    <option value="Nix">Nix</option>
                                    <option value="NSIS">NSIS</option>
                                    <option value="Nu">Nu</option>
                                    <option value="NumPy">NumPy</option>
                                    <option value="ObjDump">ObjDump</option>
                                    <option value="Objective-C++">Objective-C++</option>
                                    <option value="Objective-J">Objective-J</option>
                                    <option value="OCaml">OCaml</option>
                                    <option value="Omgrofl">Omgrofl</option>
                                    <option value="ooc">ooc</option>
                                    <option value="Opa">Opa</option>
                                    <option value="OpenCL">OpenCL</option>
                                    <option value="OpenEdge ABL">OpenEdge ABL</option>
                                    <option value="Org">Org</option>
                                    <option value="Ox">Ox</option>
                                    <option value="Oxygene">Oxygene</option>
                                    <option value="Pan">Pan</option>
                                    <option value="Parrot">Parrot</option>
                                    <option value="Parrot Assembly">Parrot Assembly</option>
                                    <option value="Parrot Internal Representation">Parrot Internal Representation</option>
                                    <option value="Pascal">Pascal</option>
                                    <option value="PAWN">PAWN</option>
                                    <option value="Perl6">Perl6</option>
                                    <option value="Pike">Pike</option>
                                    <option value="Pod">Pod</option>
                                    <option value="PogoScript">PogoScript</option>
                                    <option value="PostScript">PostScript</option>
                                    <option value="PowerShell">PowerShell</option>
                                    <option value="Processing">Processing</option>
                                    <option value="Prolog">Prolog</option>
                                    <option value="Propeller Spin">Propeller Spin</option>
                                    <option value="Protocol Buffer">Protocol Buffer</option>
                                    <option value="Puppet">Puppet</option>
                                    <option value="Pure Data">Pure Data</option>
                                    <option value="PureScript">PureScript</option>
                                    <option value="Python traceback">Python traceback</option>
                                    <option value="QMake">QMake</option>
                                    <option value="QML">QML</option>
                                    <option value="R">R</option>
                                    <option value="Racket">Racket</option>
                                    <option value="Ragel in Ruby Host">Ragel in Ruby Host</option>
                                    <option value="Raw token data">Raw token data</option>
                                    <option value="RDoc">RDoc</option>
                                    <option value="REALbasic">REALbasic</option>
                                    <option value="Rebol">Rebol</option>
                                    <option value="Red">Red</option>
                                    <option value="Redcode">Redcode</option>
                                    <option value="reStructuredText">reStructuredText</option>
                                    <option value="RHTML">RHTML</option>
                                    <option value="RMarkdown">RMarkdown</option>
                                    <option value="RobotFramework">RobotFramework</option>
                                    <option value="Rouge">Rouge</option>
                                    <option value="Rust">Rust</option>
                                    <option value="Sage">Sage</option>
                                    <option value="SAS">SAS</option>
                                    <option value="Sass">Sass</option>
                                    <option value="Scaml">Scaml</option>
                                    <option value="Scilab">Scilab</option>
                                    <option value="SCSS">SCSS</option>
                                    <option value="Self">Self</option>
                                    <option value="Shell">Shell</option>
                                    <option value="ShellSession">ShellSession</option>
                                    <option value="Shen">Shen</option>
                                    <option value="Slash">Slash</option>
                                    <option value="Slim">Slim</option>
                                    <option value="Smalltalk">Smalltalk</option>
                                    <option value="Smarty">Smarty</option>
                                    <option value="SourcePawn">SourcePawn</option>
                                    <option value="Squirrel">Squirrel</option>
                                    <option value="Standard ML">Standard ML</option>
                                    <option value="Stata">Stata</option>
                                    <option value="STON">STON</option>
                                    <option value="Stylus">Stylus</option>
                                    <option value="SuperCollider">SuperCollider</option>
                                    <option value="Swift">Swift</option>
                                    <option value="SystemVerilog">SystemVerilog</option>
                                    <option value="Tcl">Tcl</option>
                                    <option value="Tcsh">Tcsh</option>
                                    <option value="Tea">Tea</option>
                                    <option value="TeX">TeX</option>
                                    <option value="Textile">Textile</option>
                                    <option value="TOML">TOML</option>
                                    <option value="Turing">Turing</option>
                                    <option value="Twig">Twig</option>
                                    <option value="TXL">TXL</option>
                                    <option value="TypeScript">TypeScript</option>
                                    <option value="Unified Parallel C">Unified Parallel C</option>
                                    <option value="UnrealScript">UnrealScript</option>
                                    <option value="Vala">Vala</option>
                                    <option value="VCL">VCL</option>
                                    <option value="Verilog">Verilog</option>
                                    <option value="VHDL">VHDL</option>
                                    <option value="VimL">VimL</option>
                                    <option value="Visual Basic">Visual Basic</option>
                                    <option value="Volt">Volt</option>
                                    <option value="wisp">wisp</option>
                                    <option value="xBase">xBase</option>
                                    <option value="XC">XC</option>
                                    <option value="XML">XML</option>
                                    <option value="Xojo">Xojo</option>
                                    <option value="XProc">XProc</option>
                                    <option value="XQuery">XQuery</option>
                                    <option value="XS">XS</option>
                                    <option value="XSLT">XSLT</option>
                                    <option value="Xtend">Xtend</option>
                                    <option value="YAML">YAML</option>
                                    <option value="Zephir">Zephir</option>
                                    <option value="Zimpl">Zimpl</option>
                                </optgroup>
                            </select>
                        </div>
                        <a class="suggestionApp-action btn" href="#">No thanks.</a>
                        <a id="solve" class="btn" href="#" target="_blank">Let's Solve It!</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mousetrap/1.4.6/mousetrap.min.js"></script>
    <script src="assets/js/main.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.4.10/jquery.perfect-scrollbar.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-48014211-1', 'tevko.github.io');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
    <script>
        $('.content-holder').perfectScrollbar();
    </script>
    <!--dev only -->
</body>

</html>
