//global things like wrappers and stuff

*, *:before, *:after {
  box-sizing: border-box;
 }

body, html {
    overflow-x: hidden;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}



.wrap {
    max-width: 1200px;
    padding: 0 1em;
}

//clearin floats

.group:after {
    content: "";
    display: table;
    clear: both;
}

.pageContent {
    position:relative;
    word-break: break-word;
}

.main-header {
    padding: 1em;
    color: white;
    background-color: #333;
    position: absolute;
    width: 100%;
    z-index: 999;
    p {
        padding-top:10px;
        margin:0;
        display:inline-block;
    }
    a {
        float:right;
        color:white;
        padding:10px;
        border: solid 1px white;
        text-decoration:none;
        &.attribution {
            float: none;
            padding: 0;
            border: none;
        }
        &:nth-of-type(1) {
            margin-left: 1em;
        }
    }
    &.home {
        position:relative;
    }
}

