//Pages

.items-notice {
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 0em;
    padding: 1em;
    transform: translateY(-2%);
    transition: .25s ease all;
    position: absolute;
}

.items-notice_show {
    display: block;
    transform: translateY(71%);
    font-size: 2em;
}