//Pages

.items-notice {
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 0em;
    padding: 1em;
    position: absolute;
    z-index: 5;
    opacity: 0;
    transition: .25s ease opacity;
}

.items-notice_show {
    display: block;
    font-size: 2em;
    margin-top: 76px;
    opacity: 1;
}
