html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  overflow-x: hidden;
  height: 100%; }

.wrap {
  max-width: 1200px;
  padding: 0 1em; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.pageContent {
  position: relative;
  word-break: break-word; }

.main-header {
  padding: 1em;
  color: white;
  background-color: #333;
  position: absolute;
  width: 100%;
  z-index: 999; }
  .main-header p {
    padding-top: 10px;
    margin: 0;
    display: inline-block; }
  .main-header a {
    float: right;
    color: white;
    padding: 10px;
    border: solid 1px white;
    text-decoration: none; }
    .main-header a.attribution {
      float: none;
      padding: 0;
      border: none; }
    .main-header a:nth-of-type(1) {
      margin-left: 1em; }
  .main-header.home {
    position: relative; }

.btn {
  font-size: 0.5em;
  text-decoration: none;
  color: white;
  padding: 1em;
  border: solid white;
  background-color: transparent;
  outline: none;
  display: inline-block; }

form {
  display: inline-block;
  margin-left: 1em; }
  form input {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none; }

.block-container {
  height: 100%;
  width: 100%; }
  .block-container.home {
    height: 93.7%; }
    .block-container.home a {
      text-decoration: none; }

.block-random, .block-dribbble, .block-github {
  height: 33.33%;
  display: table;
  width: 100%;
  color: white; }
  .block-random:hover, .block-dribbble:hover, .block-github:hover {
    background-repeat: no-repeat; }

.block-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
  font-family: 'Open Sans', sans-serif; }
  .block-content:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.44);
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%); }

.block-random {
  background-color: #262642; }
  .block-random:hover {
    background-image: url('../../assets/img/practice.png'); }

.block-dribbble {
  background-color: #de467f; }
  .block-dribbble:hover {
    background-image: url('../../assets/img/dribbble.png'); }

.block-github {
  background-color: #4183c4; }
  .block-github:hover {
    background-image: url('../../assets/img/github.png'); }

.block-container-single {
  height: 100%; }
  .block-container-single .block-content:hover {
    cursor: inherit;
    background-color: transparent;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .block-container-single .block-random:hover, .block-container-single .block-dribbble:hover, .block-container-single .block-github:hover {
    background-image: none; }
  .block-container-single .block-random, .block-container-single .block-dribbble, .block-container-single .block-github {
    height: 100%; }

.block-dribbble .suggestionApp {
  background-color: transparent; }
.block-dribbble .btn:hover {
  background-color: #c7c7c7; }
.block-dribbble .suggestionApp-prompts {
  margin-top: 1em; }
.block-dribbble img {
  max-width: 100%; }

.block-github .suggestionApp {
  background-color: transparent; }
.block-github .btn:hover {
  background-color: #c7c7c7; }

.suggestionApp {
  max-width: 75%;
  margin: 0 auto; }
